{#
Embeds a group within the sidebar of a page.

group    - The group dict.
truncate - A max length for the group description. If not provided the description
           will be full length.

Example:

    {% snippet 'snippets/group, group=c.group_dict %}

#}
{% set truncate = truncate or 0 %}
{% set url = h.url_for(controller='group', action='read', id=group.name) %}

{% block info %}
<div class="modul-text_bild imagealignleft">
    <div class="image">
        <div class="image__image">
            <img src="{{ group.image_display_url or h.url_for_static('/images/folder-open-regular.svg') }}" width="200" alt="Logo von {{ group.title }}" alt="Alternative Bildbeschreibung" >
        </div>
    </div>
    <div class="text textile">
        {% if group.description %}
            <p class="description">
                {{ h.markdown_extract(group.description, 180) }}
            </p>
        {% else %}
            <p class="empty">Diese Gruppe hat keine Beschreibung.</p>
        {% endif %}
        {% link_for _('read more'), controller='group', action='about', id=group.name %}

    </div>

    <div class="modul-infofigures">
        <div class="infofigures__inner">
            <ul>
                <li>
                    <div class="infofigure">
                        <div class="title">
                            <span class="textfigure">{{ group.num_followers }}</span>
                            {{ _('Followers') }} hat diese Kategorie.
                        </div>
                        <div class="text">
                            {% block follow %}
                                <div class="dr-center">
                                    <div class="follow_button">
                                        {{ h.follow_button('group', group.id) }}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="infofigure">
                        <div class="title">
                            <span class="textfigure">{{ group.package_count }}</span>
                            {{ _('Datasets') }} gibt es in dieser Kategorie.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock info %}