{#
Embeds a group within the sidebar of a page.

group    - The group dict.
truncate - A max length for the group description. If not provided the description
           will be full length.

Example:

    {% snippet 'snippets/group, group=c.group_dict %}

#}
{% set truncate = truncate or 0 %}
{% set url = h.url_for(controller='group', action='read', id=group.name) %}

{% block info %}
<div class="modul-text_bild imagealignleft">
    <div class="image">
        <div class="image__image">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" width="200" alt="Logo von {{ group.title }}" alt="Alternative Bildbeschreibung" >
        </div>
        <!-- <p class="image__copyright">
            @copyright
        </p> -->
    </div>
    <!-- <h2 class="title">Image left</h2> -->
    <div class="text textile">
      {% if group.description %}
        <p class="description">
          {{ h.markdown_extract(group.description, 180) }}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this group') }}</p>
      {% endif %}
    {% link_for _('read more'), controller='group', action='about', id=group.name %}

<div class="modul-infofigures">
    <div class="infofigures__inner">
        <ul class="flexgrid grid--3">
            <li>
                <div class="infofigure">
                    <h3 class="title">
                        <span class="textfigure">{{ group.num_followers }}</span>
                    </h3>
                    <div class="text">
                        <p>
                            {{ _('Followers') }}
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="infofigure">
                    <h3 class="title">
                        <span class="textfigure">{{ group.package_count }}</span>
                    </h3>
                    <div class="text">
                        <p>
                            {{ _('Datasets') }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>      
      
    </div>

</div>

{% endblock info %}