
{#
  Embeds a organization within the sidebar of a page.
  
  organization    - The organization dict.
  truncate - A max length for the organization description. If not provided the description
             will be full length.
  has_context_title - Boolean for whether to display a module-heading for when
                      this snippet appears within a non-organization template
                      (e.g. dataset page sidebar)
  
  Example:
  
      {% snippet 'snippets/organization, organization=c.group_dict %}
  
#}
  
{% set truncate = truncate or 0 %}
{% set url = h.url_for(organization.type + '.read', id=organization.name, ) %}

{% block info %}
<div class="modul-text_bild imagealignleft">
    <div class="image">
        <div class="image__image">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="Logo von {{ organization.title }}" alt="Alternative Bildbeschreibung" >
        </div>
        <!-- <p class="image__copyright">
            @copyright
        </p> -->
    </div>
    <!-- <h2 class="title">Image left</h2> -->
    <div class="text textile">
      {% if organization.description %}
        <p class="description">
          {{ h.markdown_extract(organization.description, 180) }}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this organization') }}</p>
      {% endif %}
    {% link_for _('read more'), controller='organization', action='about', id=organization.name %}

<div class="modul-infofigures">
    <div class="infofigures__inner">
        <ul class="flexgrid grid--3">
            <li>
                <div class="infofigure">
                    <h3 class="title">
                        <span class="textfigure">{{ organization.num_followers }}</span>
                    </h3>
                    <div class="text">
                        <p>
                            {{ _('Followers') }}
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="infofigure">
                    <h3 class="title">
                        <span class="textfigure">{{ organization.package_count }}</span>
                    </h3>
                    <div class="text">
                        <p>
                            {{ _('Datasets') }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
    </div>
</div>
{% endblock info %}