<div class="container-wrapper container-footer">
  <div class="container">
    <div class="row">
      <div class="span12">
        <!-- template start: footer-portal -->
        <div class="html5-footer portal-footer">
          <div>
            <p>
              Berlin.de ist ein Angebot des Landes Berlin und der BerlinOnline Stadtportal GmbH &amp; Co. KG. Weitere
              Informationen hierzu finden Sie <a href="http://www.berlin.de/wir-ueber-uns-be/impressum/"> hier </a>.
            </p>
          </div>
        </div>
        <!-- /template end: footer-portal -->
      </div>
    </div>
  </div>
</div>