<!-- template start: header_portal -->
    <div class="container-wrapper container-portal-header">

        <div class="container">
            <div class="row" role="banner">
                <div class="span12">
                    <div class="html5-header portal-header hidden-phone">
                        <div class="red-line"></div>
                        <div class="html5-figure main-image">
                            <a href="https://www.berlin.de/" title="Link führt zur Startseite von Berlin.de">
                                <img class="portal-logo" src="/i9f/images/berlin_de.png" alt="Bild zeigt: Berlin.de Logo" title="Link führt zur Startseite von Berlin.de" />
                            </a>
                        </div>
                        <p class="navSkip">Navigiere direkt zu:</p>
                        <ul class="navSkip">
                            <li><a href="#aural_datensatzsuche">Suche</a></li>
                            <li><a href="#aural_maincontent">Inhalt</a></li>
                        </ul>
                        <div class="html5-nav" aria-label="Globale Portal-Links" role="navigation">
                            <p id="bo-portalnavilinkslabel" class="aural">Besuchen Sie auch unsere anderen Themen-Bereiche:</p>
                            <ul class="portal-navi" id="bo-portalnavilinks" aria-labelledby="bo-portalnavilinkslabel">
                                <li class="active"><a href="https://www.berlin.de/politik-verwaltung-buerger/">Politik, Verwaltung, Bürger</a></li>
                                <li><a href="https://www.berlin.de/kultur-und-tickets/">Kultur & Ausgehen</a></li>
                                <li><a href="https://www.berlin.de/tourismus/">Tourismus</a></li>
                                <li><a href="https://www.berlin.de/wirtschaft/">Wirtschaft</a></li>
                                <li><a href="https://www.berlin.de/special/">Themen</a></li>
                                <li><a href="https://www.berlin.de/adressen/">BerlinFinder</a></li>
                                <li><a href="https://www.berlin.de/stadtplan/">Stadtplan</a></li>
                            </ul>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- /template end: header_portal -->
