{#
Markup for most of a dataset's metadata fields.

pkg
  the package dict

dataset_path
  the base path for dataset search and detail pages (usually 'dataset' in CKAN)

context
  one of 'register' or 'portal'. 'register' indicates the template is being called in the 
  Datenregister context (for dataset authors), while 'portal' indicates it is being called in the
  Datenportal context (for the public).

#}

{% import 'macros/read.html' as read %}

<h2>{{ _('Informationen zum Datensatz') }}</h2>
<ul class="list--tablelist block">
  {% if pkg.license_id %}
  <li>
    <div class="cell">
      <div class="text--strong">{{ _('License') }}:</div>
    </div>
    <div class="cell">
      <a href='/{{ h.berlintheme_url_with_params(dataset_path, {"license_id": pkg.license_id})}}'
      alt="{{ _('Andere Datensätze mit der Lizenz ') + pkg.license_id }}">{{
      pkg.license_title }} ({{ pkg.license_id}})</a> |
      <a href="{{ pkg.license_url}}" class="extern">{{ _('zum Lizenztext') }}</a>
    </div>
  </li>
  {% endif %}
  {{ h.snippet('package/snippets/metadata_item.html', title='Text für Namensnennung', value=pkg.attribution_text, create_link=False, context=context) }}
  {% if pkg.groups %}
    <li>
      <div class="cell">
        <div class="text--strong">{{ _('Kategorie') }}:</div>
      </div>
      <div class="cell">
        <ul class="list--horizontal bordered">
          {% for group in pkg.groups %}
            <li>
              <a href='/{{ h.berlintheme_url_with_params(dataset_path, {"groups": group.name})}}' alt="{{ _('Andere Datensätze der Kategorie ') + group.display_name }}">{{ group.display_name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {%  endif %}
  {{ h.snippet('package/snippets/metadata_item.html', name='geographical_coverage', title='Geographischer Bezug', value=pkg.geographical_coverage, create_link=True, dataset_path=dataset_path, context=context) }}
  {{ h.snippet('package/snippets/metadata_item.html', name='geographical_granularity', title='Geographische Granularität', value=pkg.geographical_granularity, create_link=True, dataset_path=dataset_path, context=context) }}
  {# Musterdatensatz #}
  {% if pkg.sample_record or context == 'register' %}
    <li>
      <div class="cell">
        <div class="text--strong">{{ _('Musterdatensatz') }}:</div>
      </div>
      <div class="cell">
        {% if pkg.sample_record %}
          {{ h.berlin_render_sample_record(pkg.sample_record, class='extern') }}
        {% else %}
          <span class="dp-undefined">undefiniert</span>
        {% endif %}
      </div>
    </li>
  {% endif %}

  {# High-value datasets #}
  {% if pkg.hvd_category or context == 'register' %}
    <li>
      <div class="cell">
        <div class="text--strong">{{ _('High-Value-Dataset-Kategorie') }}:</div>
      </div>
      <div class="cell">
        {% if pkg.hvd_category %}
          {{ h.berlin_render_hvd_category(pkg.hvd_category, class='extern') }}
        {% else %}
          <span class="dp-undefined">undefiniert</span>
        {% endif %}
      </div>
    </li>
  {% endif %}

  {% if pkg.temporal_coverage_from or context == 'register' %}
    <li>
      <div class="cell">
        <div class="text--strong">{{ _('Zeitlicher Bezug') }}:</div>
      </div>
      <div class="cell">
        {% if pkg.temporal_coverage_to %}
          vom
        {% endif %}
        {% if pkg.temporal_coverage_from %}
          {{ h.render_datetime(pkg.temporal_coverage_from) }}
        {% else %}
          <span class="dp-undefined">undefiniert</span>
        {% endif %}
        {% if pkg.temporal_coverage_to %}
          bis zum {{ h.render_datetime(pkg.temporal_coverage_to) }}
        {% endif %}
      </div>
    </li>
  {% endif %}
  {{ h.snippet('package/snippets/metadata_item.html', name='temporal_granularity', title='Zeitliche Granularität', value=pkg.temporal_granularity, create_link=True, dataset_path=dataset_path, context=context) }}
  {{ h.snippet('package/snippets/metadata_item.html', name='date_released', title='Veröffentlicht', value=pkg.date_released, render_function=h.render_datetime, context=context) }}
  {{ h.snippet('package/snippets/metadata_item.html', name='date_updated', title='Aktualisiert', value=pkg.date_updated, render_function=h.render_datetime, context=context) }}
  {{ h.snippet('package/snippets/metadata_item.html', name='author_string', title='Veröffentlichende Stelle', value=pkg.author, create_link=True, dataset_path=dataset_path, context=context) }}
  {{ h.snippet('package/snippets/metadata_item.html', name='maintainer', title='Kontaktperson', value=pkg.maintainer, context=context) }}
  {{ h.snippet('package/snippets/metadata_item.html', name='maintainer_email', title='E-Mail Kontakt', value=pkg.maintainer_email, context=context) }}
  {% if pkg.url or context == 'register' %}
    <li>
      <div class="cell">
        <div class="text--strong">{{ _('Webseite') }}:</div>
      </div>
      <div class="cell">
        {% if pkg.url %}
          <a href="{{ pkg.url }}" class="extern">{{ pkg.url }}</a>
        {% else %}
          <span class="dp-undefined">undefiniert</span>
        {% endif %}
      </div>
    </li>
  {% endif %}
  {%  if pkg.tags %}
    <li>
      <div class="cell">
        <div class="text--strong">{{ _('Schlagworte') }}:</div>
      </div>
      <div class="cell">
        <ul class="list--horizontal bordered">
          {% for tag in pkg.tags %}
            <li><a href='/{{ h.berlintheme_url_with_params(dataset_path, {"tags": tag.name})}}' alt="{{ _('Andere Datensätze mit dem Schlagwort ') + tag.display_name }}">{{ tag.display_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endif %}
  {{ h.snippet('package/snippets/metadata_item.html',
    name='metadata_modified',
    title='Metadaten erstellt',
    value=pkg.metadata_created,
    create_link=False,
    dataset_path=dataset_path,
    context=context)
  }}
  {{ h.snippet('package/snippets/metadata_item.html',
    name='metadata_modified',
    title='Metadaten letzte Änderung',
    value=pkg.metadata_modified,
    create_link=False,
    dataset_path=dataset_path,
    context=context)
  }}
</ul>

{% if h.check_access('package_update', {'id':pkg.id}) %}
  {% if context == 'register' %}
    <h2>{{ _('Weitere Informationen zum Datensatz') }}</h2>
    <ul class="list--tablelist block">
      {{ h.snippet('package/snippets/metadata_item.html', title=_("Source"), value=pkg.berlin_source, create_link=False, context=context) }}
        {{ h.snippet('package/snippets/metadata_item.html', title=_("State"), value=h.berlin_state_mapping()[_(pkg.state)], create_link=False, context=context) }}
      {{ h.snippet('package/snippets/metadata_item.html', title=_("Veröffentlichende Person"), value=pkg.username, create_link=False, context=context) }}
      {{ h.snippet('package/snippets/metadata_item.html', title=_("Vorschaubild"), value=pkg.preview_image, create_link=True, dataset_path=dataset_path, context=context) }}
      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg.extras, exclude=['berlin.type', 'username', 'attribution_text', 'date_released', 'date_updated', 'temporal_coverage_from', 'temporal_coverage_to', 'temporal_granularity', 'geographical_coverage']) %}
          {% set key, value = extra %}
          {{ h.snippet('package/snippets/metadata_item.html', title=_(key), value=value, create_link=False, context=context) }}
        {% endfor %}
      {% endblock %}
    </ul>
  {% endif %}
{% endif %}
