{% import 'macros/read.html' as read %}

<section class="additional-info">
  <h3>{{ _("Metadatenschema Berlin") }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _("Field") }}</th>
        <th scope="col">{{ _("Value") }}</th>
      </tr>
    </thead>
    <tbody>

        {# Dataset Type #}
        {{ read.metadata_field(
          label=_("Art"),
          value=pkg_dict.berlin_type,
          display_value=h.berlin_dataset_type_mapping()[pkg_dict.berlin_type]
        )}}

        {# Dataset Source #}
        {{ read.metadata_field(
          label=_("Source"),
          value=pkg_dict.berlin_source
        ) }}

        {# Status #}
        {% if h.check_access('package_update', {'id':pkg_dict.id}) %}
          {{ read.metadata_field(
            label=_("State"),
            value=pkg_dict.state,
            display_value=h.berlin_state_mapping()[_(pkg_dict.state)]
          )}}
        {% endif %}

        {# Veröffentlichende Stelle #}
        {{ read.metadata_field(
          label=_("Veröffentlichende Stelle"),
          value=pkg_dict.author
        ) }}

        {# Veröffentlichende Stelle (URI) #}
        {{
          read.metadata_field(
            label=_("Veröffentlichende Stelle (URI)"),
            value=pkg_dict.author_uri,
            display_value=h.berlin_render_author_uri(pkg_dict.author_uri)
        )}}

        {# Kontaktperson #}
        {{ read.metadata_field(
          label=_("Kontaktperson"),
          value=pkg_dict.maintainer
        ) }}

        {# Kontakt-Email #}
        {{ read.metadata_field(
          label=_("Kontakt-Email"),
          value=pkg_dict.maintainer_email,
          display_value=h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer_email)
        )}}

        {# Veröffentlichende Person #}
        {{ read.metadata_field(
          label=_("Veröffentlichende Person"),
          value=pkg_dict.username
        )}}

        {# Webadresse #}
        {{ read.metadata_field(
          label=_("Webadresse"),
          value=pkg_dict.url,
          display_value=h.link_to(pkg_dict.url, pkg_dict.url, target='_blank') if pkg_dict.url else _("undefiniert")
        )}}

        {# Vorschaubild #}
        {{ read.metadata_field(
          label=_("Vorschaubild"),
          value=pkg_dict.preview_image,
          display_value=h.link_to(pkg_dict.preview_image, pkg_dict.preview_image, target='_blank') if pkg_dict.preview_image else _("undefiniert")
        )}}

        {# Lizenz #}
        {{
          read.metadata_field(
            label=_("Lizenz"),
            value=pkg_dict.license_id,
            display_value=pkg_dict.license_title ~ " (" ~ pkg_dict.license_id ~ ")"
        )}}

        {# Attribution #}
        {{
          read.metadata_field(
            label=_("Text für Namensnennung"),
            value=pkg_dict.attribution_text
        )}}

        {# Veröffentlichungsdatum #}
        {{
          read.metadata_field(
            label=_("Veröffentlichungsdatum"),
            value=pkg_dict.date_released,
            display_value=h.render_datetime(pkg_dict.date_released)
        )}}

        {# Aktualisierungsdatum #}
        {{
          read.metadata_field(
            label=_("Aktualisierungsdatum"),
            value=pkg_dict.date_updated,
            display_value=h.render_datetime(pkg_dict.date_updated)
        )}}

        {# Zeitliche Abdeckung von ... #}
        {{
          read.metadata_field(
            label=_("Zeitliche Abdeckung von") ~ " …",
            value=pkg_dict.temporal_coverage_from,
            display_value=h.render_datetime(pkg_dict.temporal_coverage_from)
        )}}

        {# Zeitliche Abdeckung ... bis #}
        {{
          read.metadata_field(
            label="… " ~ _("bis"),
            value=pkg_dict.temporal_coverage_to,
            display_value=h.render_datetime(pkg_dict.temporal_coverage_to)
        )}}

        {# Zeitliche Auflösung #}
        {{
          read.metadata_field(
            label=_("Zeitliche Auflösung"),
            value=pkg_dict.temporal_granularity
        )}}
        
        {# Geografische Abdeckung #}
        {{
          read.metadata_field(
            label=_("Geografische Abdeckung"),
            value=pkg_dict.geographical_coverage
        )}}
        
        {# Geografische Auflösung #}
        {{
          read.metadata_field(
            label=_("Geografische Auflösung"),
            value=pkg_dict.geographical_granularity
        )}}

        {# Musterdatensatz #}
        {{
          read.metadata_field(
            label=_("Musterdatensatz"),
            value=pkg_dict.sample_record,
            display_value=h.berlin_render_sample_record(pkg_dict.sample_record)
        )}}
        {{
          read.metadata_field(
            label="",
            value=pkg_dict.sample_record,
            display_value=h.literal(('<img src="/images/govdata_mini.png"/> ')) ~ h.berlin_render_govdata_example_link(pkg_dict.sample_record)
        )}}

        {# High-value Dataset #}
        {{
          read.metadata_field(
            label=_("HVD-Kategorie"),
            value=pkg_dict.hvd_category,
            display_value=h.berlin_render_hvd_category(pkg_dict.hvd_category)
        )}}

    </tbody>
  </table>

  <h3>{{ _('Timestamps') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {{
        read.metadata_field(
          label=_("Metadaten letzte Änderung"),
          value=pkg_dict.metadata_modified
      )}}
      {{
        read.metadata_field(
          label=_("Metadaten erstellt"),
          value=pkg_dict.metadata_created
      )}}
    </tbody>
  </table>

  <h3>{{ _('Weitere Metadaten') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
    {% block extras scoped %}
      {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        <tr>
          <th scope="row" class="dataset-label">{{ _(key) }}</th>
          <td class="dataset-details">{{ value }}</td>
        </tr>
      {% endfor %}
    {% endblock %}
    </tbody>
  </table>

</section>
