{#
Renders a box-like group item in a flex layout.

group - a group dict

Example:

    <div class="box-list">
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </div>
#}
{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
{% block item %}
  <div class="box-list__item well">
    {% block item_inner %}
      {% block image %}
        <div class="box-list__image">
          <a href="{{ url }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group_portrait.png') }}"
                 alt="{{ group.name }}" class="media-image">
          </a>
        </div>
      {% endblock %}
      <div class="box-list__right space-between">
        {% block title %}
          <h3>
            {{ h.link_to(h.truncate(group.display_name, 90), h.url_for(controller='group', action='read', id=group.name)) }}
          </h3>
        {% endblock %}
        <div class="box-list__lower">
          {% block description %}
            {% if group.description %}
              <p>{{ h.markdown_extract(group.description, extract_length=80) }}</p>
            {% endif %}
          {% endblock %}
          {% block datasets %}
            {% if group.package_count %}
              {% if group.package_count > 0 %}
                <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', group.package_count).format(num=group.package_count) }}</strong>
              {% else %}
                <span class="count">{{ _('0 Datasets') }}</span>
              {% endif %}
            {% endif %}
          {% endblock %}
          {% if group.user_member %}
            <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit"
                   class="btn btn-danger btn-small media-edit" title="{{ _('Remove dataset from this group') }}"/>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
