{#
Display a grid of group items.

groups - A list of groups.
package_id - the current package id

Example:

    {% snippet "group/snippets/group_list.html" %}

#}
{% block group_list %}
<div class="modul-teasertiles">
    <ul class="flexgrid grid--4">
      {% block group_list_inner %}
        {% for group in groups %}
          {% snippet "group/snippets/group_item.html", group=group, position=loop.index, package_id=package_id %}
        {% endfor %}
      {% endblock %}
    </ul>
</div>
{% endblock %}
