{% extends "organization/read_base.html" %}

{% block subtitle %}{{ _('About') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="block">
      <div class="text">
      {% block organization_description %}
        {% if group_dict.description %}
          {{ h.render_markdown(group_dict.description) }}
        {% endif %}
      {% endblock %}
    </div>
  {% block organization_extras %}
    {% snippet 'snippets/additional_info.html', extras = h.sorted_extras(group_dict.extras) %}
  {% endblock %}    
</div>
{% endblock %}
