{% ckan_extends %}

{% block subtitle %}{{ group_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), named_route=group_type+'.index' %}</li>
  <li class="active">{% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name %}</li>
{% endblock %}

{% block page_heading %}
  <div class="berlin-org-header">
    <h1 class="berlin-h1-flex">
    {{ group_dict.display_name }}
    {% if h.berlin_org_is_external(group_dict.id) %}
      ({{ _("extern") }})
    {% endif %}
    {% if group_dict.state == 'deleted' %}
      [{{ _('Deleted') }}]
    {% endif %}
    </h1>
    {% if h.check_access('organization_update', {'id': group_dict.id}) %}
      <a class="link bicon bicon-edit float-right" href="{{ h.url_for(group_type+'.edit', id=group_dict.name, _external=True) }}">{{ _('Manage') }}</a>
    {% endif %}  
  </div>
  {% snippet 'snippets/organization.html', organization=group_dict, show_nums=true, group_type=group_type %}

{% endblock page_heading %}

{% block content_action %}
{% endblock %}


{% block content_primary_nav %}
  {% set tabs = [ 
    { "active": h.berlintheme_link_active(group_type ~ '.read'), "label": _('Datasets'), "link": url_for(group_type ~ '.read', id=group_dict.name), "icon": "sitemap" }
  ] %}
  {% if h.check_access(group_type ~ '_activity_list', {'id': group_dict.name}) %}
    {% do tabs.append({ "active": h.berlintheme_link_active(group_type ~ '.activity'), "label": _('Activity Stream'), "link": url_for(group_type ~ '.activity', id=group_dict.name), "icon": "clock" }) %}
  {% endif %}
  {% do tabs.append({ "active": h.berlintheme_link_active(group_type ~ '.about'), "label": _('About'), "link": url_for(group_type ~ '.about', id=group_dict.name), "icon": "info-circle" }) %}

  {% snippet 'snippets/tabs.html', tabs=tabs %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "organization/snippets/feeds.html" %}
{% endblock %}
