{% extends "user/read_base.html" %}

{% import 'macros/form.html' as form %}

{% block page_heading %}
  <h1>{{ user.display_name }}</h1>
{% endblock page_heading %}


{% block page_primary_action %}
  {% if h.check_access('api_token_create', {'user': user['name']}) %}
    <form method="POST" class="form">
      {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

      {% block base_fields %}
        <div class="form-group ">
            {{ form.input('name', label='Name', is_required=True, value=data.name, error=errors.name) }}
        </div>
      {% endblock base_fields %}
      {% block additional_fields %}
      {% endblock additional_fields %}
      {% block form_actions %}
        <button class="btn btn-primary" type="submit" value="create">
          {{ _('Create API Token') }}
        </button>
      {% endblock form_actions %}
    </form>
  {% endif %}
{% endblock page_primary_action %}


{% block primary_content_inner %}
  {% set tabs = [ 
    { "active": false, "label": _('Datasets'), "link": url_for('user.read', id=user.name) + "#user_tabs", "icon": "sitemap" },
    { "active": false, "label": _('Activity Stream'), "link": url_for('user.activity', id=user.name) + "#user_tabs", "icon": "clock" }
  ] %}
  {% if h.check_access('api_token_list', {'user': user['name']}) %}
    {% do tabs.append({ "active": true, "label": _('API Tokens'), "icon": "key" })%}
  {% endif %}
  {% snippet 'snippets/tabs.html', tabs=tabs, user=user %}
  {% block token_list %}
    {% if tokens %}
      {% snippet 'user/snippets/api_token_list.html', tokens=tokens, user=user %}
    {% else %}
      <p class="empty">
        {% if is_myself %}
          {{ _('You haven\'t created any API Tokens.') }}
        {% else %}
          {{ user.display_name + _(' hat keine API Tokens erzeugt.') }}
        {% endif %}
      </p>
    {% endif %}
  {% endblock token_list %}
{% endblock primary_content_inner %}
