{% extends "page.html" %}

{% set user = user_dict %}

{% block subtitle %}{{ user.display_name }} {{ g.template_title_delimiter }} {{ _('Users') }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('user.index', _('Users')) }}
  {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
{% endblock %}

{% block content_action %}
{% endblock %}

{% block primary_content %}
  <section class="dr-user-info">
    {% block user_image %}
      <div class="image">
        {{ h.user_image(user.id, size=270) }}
      </div>
    {% endblock user_image %}
    <div class="text">
      {% block user_about %}
        <div class="block">
          {% if about_formatted %}
            {{ about_formatted }}
          {% else %}
            <p class="empty">
              {% if is_myself %}
                {% trans %}You have not provided a biography.{% endtrans %}
              {% else %}
                {% trans %}This user has no biography.{% endtrans %}
              {% endif %}
            </p>
          {% endif %}
        </div>
      {% endblock user_about %}
    </div>
  </section>
  <ul class="list--tablelist block">
    {% block user_organization %}
      <li>
        <div class="cell">
          <div class="text--strong">{{ _('Organization') }}:</div>
        </div>
        <div class="cell">
        {% if h.berlin_user_orgs(user.name) %}
          <ul class="list--horizontal bordered">
            {% if h.berlin_is_sysadmin(user.name) %}
              <li>Sysadmin</li>
            {% else %}
              {% for organization in h.berlin_user_orgs(user.name) %}
                <li><a href="{{ h.url_for('organization.read', id=organization['name']) }}">{{ organization['display_name'] }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endif %}
        </div>
      </li>
    {% endblock user_organization %}
    {% block user_name %}
      <li>
        <div class="cell">
          <div class="text--strong">{{ _('Username') }}:</div>
        </div>
        <div class="cell">
          {{ user.name }}
        </div>
      </li>
    {% endblock user_name %}
    {% if is_myself %}
      {% block user_email %}
        <li>
          <div class="cell">
            <div class="text--strong">{{ _('Email') }}:</div>
          </div>
          <div class="cell">
            {{ user.email }}
          </div>
        </li>
      {% endblock user_email %}
    {% endif %}
    {% block user_member_since %}
      <li>
        <div class="cell">
          <div class="text--strong">{{ _('Member Since') }}:</div>
        </div>
        <div class="cell">
          {{ h.render_datetime(user.created) }}
        </div>
      </li>
    {% endblock user_member_since %}
    {% block user_state %}
      <li>
        <div class="cell">
          <div class="text--strong">{{ _('State') }}:</div>
        </div>
        <div class="cell">
          {{ _(user.state) }}
        </div>
      </li>
    {% endblock user_state %}
    {% if is_myself %}
      {% block user_api_key %}
        <li>
          <div class="cell">
            <div class="text--strong">{{ _('API Key') }}:</div>
          </div>
          <div class="cell">
            {{ user.apikey }}
          </div>
        </li>
      {% endblock user_api_key %}
    {% endif %}
  </ul>

  {% block primary_content_inner %}
  {% endblock primary_content_inner%}
{% endblock primary_content %}

{% block secondary_content %}{% endblock secondary_content %}
