{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
{% block item %}
  <div class="group-dashboard__item well">
    {% block item_inner %}
      {% block image %}
        <div class="group-dashboard__image">
          <a href="{{ url }}"><img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization_portrait.png') }}"
               alt="{{ organization.name }}" class="media-image"></a>
        </div>
      {% endblock %}
      <div class="group-dashboard__right">
        {% block title %}
          <h3>{{ h.link_to(h.truncate(organization.display_name, 90), h.url_for(controller='organization', action='read', id=organization.name)) }}</h3>
        {% endblock %}
        <div class="group-dashboard__lower">
          {% block datasets %}
            {% if organization.package_count %}
              <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong>
            {% else %}
              <span class="count">{{ _('0 Datasets') }}</span>
            {% endif %}
          {% endblock %}
          {% block capacity %}
            {% if show_capacity and organization.capacity %}
              <p><span class="label">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span>
              </p>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
