/* Some CSS from CKAN core that we still need */

/* additional bicons */

:root {
  --dpicon-arrow-left: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M257.5%20445.1l-22.2%2022.2c-9.4%209.4-24.6%209.4-33.9%200L7%20273c-9.4-9.4-9.4-24.6%200-33.9L201.4%2044.7c9.4-9.4%2024.6-9.4%2033.9%200l22.2%2022.2c9.5%209.5%209.3%2025-.4%2034.3L136.6%20216H424c13.3%200%2024%2010.7%2024%2024v32c0%2013.3-10.7%2024-24%2024H136.6l120.5%20114.8c9.8%209.3%2010%2024.8%20.4%2034.3z%22/%3E%3C/svg%3E");
  --dpicon-pen: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M290.7%2093.2l128%20128-278%20278-114.1%2012.6C11.4%20513.5-1.6%20500.6%20.1%20485.3l12.7-114.2%20277.9-277.9zm207.2-19.1l-60.1-60.1c-18.8-18.8-49.2-18.8-67.9%200l-56.6%2056.6%20128%20128%2056.6-56.6c18.8-18.8%2018.8-49.2%200-67.9z%22/%3E%3C/svg%3E");
  --dpicon-plus: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M416%20208H272V64c0-17.7-14.3-32-32-32h-32c-17.7%200-32%2014.3-32%2032v144H32c-17.7%200-32%2014.3-32%2032v32c0%2017.7%2014.3%2032%2032%2032h144v144c0%2017.7%2014.3%2032%2032%2032h32c17.7%200%2032-14.3%2032-32V304h144c17.7%200%2032-14.3%2032-32v-32c0-17.7-14.3-32-32-32z%22/%3E%3C/svg%3E");
  --dpicon-trash: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M268%20416h24a12%2012%200%200%200%2012-12V188a12%2012%200%200%200%20-12-12h-24a12%2012%200%200%200%20-12%2012v216a12%2012%200%200%200%2012%2012zM432%2080h-82.4l-34-56.7A48%2048%200%200%200%20274.4%200H173.6a48%2048%200%200%200%20-41.2%2023.3L98.4%2080H16A16%2016%200%200%200%200%2096v16a16%2016%200%200%200%2016%2016h16v336a48%2048%200%200%200%2048%2048h288a48%2048%200%200%200%2048-48V128h16a16%2016%200%200%200%2016-16V96a16%2016%200%200%200%20-16-16zM171.8%2050.9A6%206%200%200%201%20177%2048h94a6%206%200%200%201%205.2%202.9L293.6%2080H154.4zM368%20464H80V128h288zm-212-48h24a12%2012%200%200%200%2012-12V188a12%2012%200%200%200%20-12-12h-24a12%2012%200%200%200%20-12%2012v216a12%2012%200%200%200%2012%2012z%22/%3E%3C/svg%3E");
  --dpicon-sitemap: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20640%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M128%20352H32c-17.7%200-32%2014.3-32%2032v96c0%2017.7%2014.3%2032%2032%2032h96c17.7%200%2032-14.3%2032-32v-96c0-17.7-14.3-32-32-32zm-24-80h192v48h48v-48h192v48h48v-57.6c0-21.2-17.2-38.4-38.4-38.4H344v-64h40c17.7%200%2032-14.3%2032-32V32c0-17.7-14.3-32-32-32H256c-17.7%200-32%2014.3-32%2032v96c0%2017.7%2014.3%2032%2032%2032h40v64H94.4C73.2%20224%2056%20241.2%2056%20262.4V320h48v-48zm264%2080h-96c-17.7%200-32%2014.3-32%2032v96c0%2017.7%2014.3%2032%2032%2032h96c17.7%200%2032-14.3%2032-32v-96c0-17.7-14.3-32-32-32zm240%200h-96c-17.7%200-32%2014.3-32%2032v96c0%2017.7%2014.3%2032%2032%2032h96c17.7%200%2032-14.3%2032-32v-96c0-17.7-14.3-32-32-32z%22/%3E%3C/svg%3E");
  --dpicon-key: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M512%20176C512%20273.2%20433.2%20352%20336%20352c-11.2%200-22.2-1.1-32.8-3.1l-24%2027A24%2024%200%200%201%20261.2%20384H224v40c0%2013.3-10.7%2024-24%2024h-40v40c0%2013.3-10.7%2024-24%2024H24c-13.3%200-24-10.7-24-24v-78.1c0-6.4%202.5-12.5%207-17l161.8-161.8C163.1%20213.8%20160%20195.3%20160%20176%20160%2078.8%20238.8%200%20336%200%20433.5%200%20512%2078.5%20512%20176zM336%20128c0%2026.5%2021.5%2048%2048%2048s48-21.5%2048-48-21.5-48-48-48-48%2021.5-48%2048z%22/%3E%3C/svg%3E");
  --dpicon-tags: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20640%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M497.9%20225.9L286.1%2014.1A48%2048%200%200%200%20252.1%200H48C21.5%200%200%2021.5%200%2048v204.1a48%2048%200%200%200%2014.1%2033.9l211.9%20211.9c18.7%2018.7%2049.1%2018.7%2067.9%200l204.1-204.1c18.7-18.7%2018.7-49.1%200-67.9zM112%20160c-26.5%200-48-21.5-48-48s21.5-48%2048-48%2048%2021.5%2048%2048-21.5%2048-48%2048zm513.9%20133.8L421.8%20497.9c-18.7%2018.7-49.1%2018.7-67.9%200l-.4-.4L527.6%20323.5c17-17%2026.4-39.6%2026.4-63.6s-9.4-46.6-26.4-63.6L331.4%200h48.7a48%2048%200%200%201%2033.9%2014.1l211.9%20211.9c18.7%2018.7%2018.7%2049.1%200%2067.9z%22/%3E%3C/svg%3E");
  --dpicon-clock: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A//fontawesome.com%20License%20-%20https%3A//fontawesome.com/license/free%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M256%208C119%208%208%20119%208%20256s111%20248%20248%20248%20248-111%20248-248S393%208%20256%208zm0%20448c-110.5%200-200-89.5-200-200S145.5%2056%20256%2056s200%2089.5%20200%20200-89.5%20200-200%20200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6%205.4-12%2012-12h32c6.6%200%2012%205.4%2012%2012v141.7l66.8%2048.6c5.4%203.9%206.5%2011.4%202.6%2016.8L334.6%20349c-3.9%205.3-11.4%206.5-16.8%202.6z%22/%3E%3C/svg%3E");
}

.dp-button-arrow-left:after {
  -webkit-mask-image: var(--dpicon-arrow-left);
  mask-image: var(--dpicon-arrow-left);
}

.dp-button-pen:after {
  -webkit-mask-image: var(--dpicon-pen);
  mask-image: var(--dpicon-pen);
}

.dp-button-plus:after {
  -webkit-mask-image: var(--dpicon-plus);
  mask-image: var(--dpicon-plus);
}  

.dp-button-trash:after {
  -webkit-mask-image: var(--dpicon-trash);
  mask-image: var(--dpicon-trash);
}

.bicon-sitemap:before {
    -webkit-mask-image: var(--dpicon-sitemap);
    mask-image: var(--dpicon-sitemap);
}

.bicon-tags:before {
    -webkit-mask-image: var(--dpicon-tags);
    mask-image: var(--dpicon-tags);
}

.bicon-clock:before {
    -webkit-mask-image: var(--dpicon-clock);
    mask-image: var(--dpicon-clock);
}

.dr-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* Content Actions */

@media print,(max-width: 73.8135rem ) {
  .dr-content-action-wrapper {
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

@media print,(min-width: 73.8135rem ) {
  .dr-content-action-wrapper {
    justify-content: flex-end;
    margin-bottom: -20px;
  }
}

.dr-content-action-wrapper {
  display: flex;
}

/* Forms */

.dr-form-element {
  display: flex;
}

.dr-form-element a {
  padding-left: 15px;
}

.dr-form-element .select2-container {
  width: 100% !important;
}

.dr-input-wrapper {
  width: 100%;
}

.dr-input-wrapper .slug-preview {
  margin-top: 5px;
}

/* New dataset */

.dr-stages-wrapper {
  margin-bottom: 20px;
}

.stages li.active {
  font-weight: bold;
}  

/* Hero search */

.dr-hero-search {
  margin-top: 20px;
}

.dr-hero-search .page_primary_action {
  margin-bottom: 20px;
}

.dp-search-result-sort {
  min-width: 250px;
}

/* Dataset search page */

.js .js-hide {
    display: none;
}

.show-filters.btn, .hide-filters {
    display: none;
}

div#layout-grid__area--herounit .searchterm {
    margin-bottom: 50px;
}

.dp-search-result-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dp-search-result-summary {
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    flex-grow: 1;
}

.dr-facet-head-container {
  display: flex;
  align-items: center;
}

.facet a.qmark-icon {
  margin-left: 10px;
}

/* Dataset Page */

.textbildbreit .dataset img {
  max-height: 450px;
}

.dp-undefined {
  font-style: italic;
}

.follow_button i {
  display: none;
}

.imagealignleft .image__image img {
  max-height: 250px;
  width: auto;
}

/* Dataset cards */

.dp-dataset-metadatum {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  
  .dp-dataset-metadatum__row {
    display: flex;
    column-gap: 10px;
  }
  
  .dp-dataset-metadatum__header {
    font-size: 11px;
    color: #454545;
    margin-bottom: 6px;
  }
  
  .dp-dataset-metadatum__body {
    font-size: 14px;
  }
  
  .dp-resource-header {
    display: flex;
    justify-content: space-between;
  }
  
  .dp-resource-icon-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 10px;
  }
  
  .dp-resource-icon-mini {
    height: 23px;
    background-color: #DDDDDD;
    border-top: solid 4px;
    height: 19px;
    padding: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
  }
  
  .dp-resource-icon-label {
    color: #454545;
    font-family: "Courier New";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
  }
  
  .dp-resource-icon-mini.dp-resource-tabular {
    border-top-color: #96B223; /* lime 500 */
  }
  .dp-resource-icon-mini.dp-resource-gis {
    border-top-color: #0396B7; /* cyan 600 */
  }
  .dp-resource-icon-mini.dp-resource-textual {
    border-top-color: #F61C35; /* red 500 */
  }
  .dp-resource-icon-mini.dp-resource-website {
    border-top-color: #FCC832; /* amber 400 */
  }
  .dp-resource-icon-mini.dp-resource-feed {
    border-top-color: #EC7AA0; /* fuchsia 400 */
  }
  .dp-resource-icon-mini.dp-resource-tree {
    border-top-color: #F5A00C; /* amber 500 */
  }
  .dp-resource-icon-mini.dp-resource-3d {
    border-top-color: aqua;
  }
  .dp-resource-icon-mini.dp-resource-transport {
    border-top-color: darkslategray;
  }
  .dp-resource-icon-mini.dp-resource-api {
    border-top-color: #9380CC; /* violet 500 */
  }
  .dp-resource-icon-mini.dp-resource-archive {
    border-top-color: fuchsia;
  }
  .dp-resource-icon-mini.dp-resource-bitmap {
    border-top-color: dodgerblue;
  }
  .dp-resource-icon-mini.dp-resource-generic {
    border-top-color: wheat;
  }

/* Organizations */

.panel--heavy .teasertile, .panel--heavy .modul-teasertile {
  background-color: #fff;
}

.teasertile .inner, .modul-teasertile .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Users */

.dr-user-info {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 37.5rem) {
  .dr-user-info {
    flex-direction: column;
  }
}

/* Tabs, where the content is not on the same page but on other pages.

The `js-tabs` class needs to be to be removed and all aria-attributes and roles need to be
added manually. */

a.dr-tab-link {
  color: inherit;
  text-decoration: inherit;
}

.modul-tabs.dr-fake-tabs {
  margin-bottom: 0px;
}