{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        <h1 class="page-heading">{{ _('About') }}</h1>
        <p><strong>Datenregister Berlin</strong> ist die nicht-öffentliche Datenbank hinter dem öffentlichen <a href="https://daten.berlin.de" title="Offene Daten Berlin">Open Data Portal des Landes Berlin</a>. Hier werden Metadaten zu neuen Datensätzen zum Datenportal hinzugefügt und gewartet.</p>

        <h2>Impressum</h2>

        <h3>Herausgeber</h3>
        Senatskanzlei Berlin<br/>
        Jüdenstr. 1<br/>
        10178 Berlin<br/>
        E-Mail: <a href="mailto:der-regierende-buergermeister@senatskanzlei.berlin.de">Der-Regierende-Buergermeister@senatskanzlei.berlin.de</a>

        <h3>Vertretungsberechtigt</h3>
        Chef der Senatskanzlei<br/>
        Florian Graf

        <h3>Inhaltlich verantwortlich</h3>
        Chef des Presse- und Informationsamtes des Landes Berlin<br/>
        Michael Ginsburg (kommissarisch)<br/>
        Jüdenstr. 1<br/>
        10178 Berlin

        <h3>Umsatzsteuer-Identifikationsnummer</h3>
        USt-IdNr.: DE321903299

        <h3>Technischer Betrieb</h3>
        BerlinOnline Stadtportal GmbH & Co.KG<br/>
        Stefan-Heym-Platz 1<br/>
        10367 Berlin<br/>
        E-Mail: info@berlinonline.de

        <h3>Basiert auf</h3>
        <a href="https://ckan.org">CKAN</a> v{{h.ckan_version()}},
            &copy; 2023
            <img src="https://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" id="footer-okf-logo" />
            <a href="https://okfn.org/">Open Knowledge Foundation</a>

      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
