{% extends "page.html" %}


{% block page_heading %}
  <h1>
    {{ _('Willkommen bei datenregister.berlin.de') }}
  </h1>
{% endblock page_heading %}


{% block primary_content %}
  <div class="panel--heavy">
    <div class="text textile">
      <p>
        Das <strong>Datenregister</strong> ist die nicht-öffentliche Datenbank hinter dem öffentlichen <a href="https://daten.berlin.de" title="Offene Daten Berlin">Open-Data-Portal des Landes Berlin</a>. Hier werden Metadaten zu neuen Datensätzen zum Datenportal hinzugefügt und gewartet.
      </p>
    </div>
    {% block search %}
        {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
{% endblock primary_content%}