{% extends 'package/base.html' %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    {% if pkg %}
	<li class="active">{% link_for _('Edit'), named_route=pkg.type ~ '.edit', id=pkg.name %}</li>
    {% endif %}
{% endblock %}

{% block page_heading %}
  <div class="berlin-org-header">
  <h1 class="berlin-h1-flex">
    {% if pkg %}
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    {% endif %}    
  </h1>
    {% if pkg %}
      <a class="link" href="{{ h.url_for('dataset.read', id=pkg.name, _external=True) }}">{{ _('View dataset') }}</a>
    {% endif %}
  </div>
{% endblock %}

{% block content_primary_nav %}
  {% set tabs = [ 
    { "active": h.berlintheme_link_active(pkg.type ~ '.edit'), "label": _('Edit metadata'), "link": url_for(pkg.type ~ '.edit', id=pkg.name), "icon": "edit" },
    { "active": h.berlintheme_link_active(pkg.type ~ '.resources'), "label": _('Resources'), "link": url_for(pkg.type ~ '.resources', id=pkg.name), "icon": "bars" },
  ] %}

  {% snippet 'snippets/tabs.html', tabs=tabs %}

{% endblock %}


{% block secondary_content %}
<!-- this is block secondary_content package/edit_base -->
{% endblock secondary_content %}