{% ckan_extends %}

{% block page_heading %}{{ res.name }}{% endblock page_heading %}

{% block content_action %}
  {% if res %}
      <a class="button" href="{{ h.url_for('resource.read', id=pkg.name, resource_id=res.id, package_type=pkg.type, _external=True) }}">{{ _('View resource') }}</a>
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(pkg.type ~ '_resource.edit', _('Edit resource'), id=pkg.name, resource_id=res.id, icon='pencil-square-o') }}
  {% block inner_primary_nav %}{% endblock %}
  {{ h.build_nav_icon(pkg.type ~ '_resource.views', _('Views'), id=pkg.name, resource_id=res.id, icon='bars') }}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block form_title %}{{ _('Edit resource') }}{% endblock %}</h1>
  {% block form %}{% endblock %}
{% endblock %}

{% block secondary_content %}
{% endblock secondary_content %}