{#
  Implementation of the Content Footer: http://styleguide.berlin.de/patterns/11-vertical_assetservice-page-global-footer/11-vertical_assetservice-page-global-footer.html
#}

<div id="content-footer" role="contentinfo">
  <h2 class="aural">Weitere Informationen zu diesem Auftritt</h2>
  <div class="content-footer__brand">
  </div>
  <a class="to-top" href="#top">Zum Seitenanfang</a>
  <nav class="content-footer__links" aria-label="Weiterführende Links">
    <ul class="js-collapse-palm">
      <li class="initial-open">
        <h3 class="heading js-trigger" aria-expanded="true">Datenregister Berlin</h3>
        <ul>
          <li><a href="{{ h.url_for('home.about') }}" title="Impressum des Datenregisters">{{ _('About') + ' / Impressum' }}</a></li>
          <li><a href="{{ h.url_for('page_blueprint.privacy_policy') }}" title="Datenschutzerklärung des Datenregisters">{{ _('Datenschutz') }}</a>
          <li><a href="{{ h.url_for('page_blueprint.accessibility_statement') }}" title="Barrierefreiheitserklärung des Datenregisters">{{ _('Digitale Barrierefreiheit') }}</a>
        </li>
        </ul>
      </li>
      <li>
        <h3 class="heading js-trigger">Hilfe</h3>
        <ul>
          {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
          <li><a href="{{ api_url }}" class="extern" title="Dokumentation der CKAN API">{{ _('CKAN API') }}</a></li>
          <li><a href="https://www.ckan.org/" class="extern" title="Homepage der CKAN Association">{{ _('CKAN Association') }}</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</div>
 