<footer>
  <div class="row">
    <div class="span12">
      <!-- template start: footer-content -->
      <div class="html5-footer content-footer" role="contentinfo">
        <div class="html5-nav">
          <ul class="nav">
            <li class="icon-footer icon-imprint_32"><a href="/impressum">Impressum</a>
            </li>
            <li class="icon-footer icon-information_32"><a href="/faq">Info</a>
            </li>
            <li class="icon-footer icon-mail_32"><a href="/contact">Kontaktformular</a>
            </li>
            <li>
              {% block footer_debug %}
                {% if g.debug %}
                  {% include 'snippets/debug.html' %}
                {% endif %}
              {% endblock %}
            </li>
            <li class="right icon-footer icon-totop"><a href="#">zum Seitenanfang</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /template end: footer-content -->
    </div>
  </div>


</footer>
