{% ckan_extends %}

{% block header_site_navigation_tabs %}
  {% if c.userobj.sysadmin %}
    {{ h.build_nav_main(
      ('dataset.search', _('Datasets')),
      ('organization.index', _('Organizations')),
      ('group.index', _('Kategorien')),
      ('user.index', _('User')),
    ) }}
    <li><a href="/harvest">Harvest</a></li>
    {{ h.build_nav_main(
      ('home.about', _('About'))
    ) }}
  {% elif c.userobj %}
    {{ h.build_nav_main(
      ('dataset.search', _('Datasets')),
      ('organization.index', _('Organizations')),
      ('group.index', _('Kategorien')),
      ('home.about', _('About'))
    ) }}
  {% else %}
    {{ h.build_nav_main(
      ('home.about', _('About'))
    ) }}
  {% endif %}
{% endblock %}
