  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  <header id="header">
    <div class="header__row-portalbrand">
        <div class="logo">
            <a href="https://www.berlin.de" alt="Zur Startseite von Berlin.de">
                <img class="logo" title="Berlin.de" src="https://www.berlin.de/css/berlin_de/foxtrot/images/logo_berlin_m_srgb.svg" alt="Berlin.de">
            </a>
        </div>
    </div>
  
    <div class="header__row-pageheader">
      <div class="pageheader__logo">
        <div class="logo">
          <div class="image__image">
            <a href="{{ h.url_for('home.index') }}" title="Link zur Startseite" rel="home" class="logo">
              <img src="/images/logo_2.svg" alt="Berlin Open Data Logo mit Label 'Register'">
            </a>
          </div>
        </div>
      </div>

      <nav class="pageheader__quicklinks" aria-label="Hauptnavigation">
        <ul>
          {% if c.userobj.sysadmin %}
            {{ h.build_nav_main(
              ('home.index', _('Startseite')),
              ('dataset.search', _('Datasets')),
              ('organization.index', _('Organizations')),
              ('group.index', _('Kategorien')),
              ('user.index', _('User')),
            ) }}
            <li><a href="/harvest">Harvest</a></li>
            {{ h.build_nav_main(
              ('home.about', _('About'))
            ) }}
          {% elif c.userobj %}
            {{ h.build_nav_main(
              ('home.index', _('Startseite')),
              ('dataset.search', _('Datasets')),
              ('organization.index', _('Organizations')),
              ('group.index', _('Kategorien')),
              ('home.about', _('About'))
            ) }}
          {% else %}
            {{ h.build_nav_main(
              ('home.about', _('About'))
            ) }}
          {% endif %}
        </ul>
      </nav>

      <div class="pageheader__services">

        <div id="servicebuttonMenu" class="service-button-overlay js-service-button-overlay menu">
          <div class="service-button-overlay__button">
            <button type="button" class="icon-button js-button-overlay-open" aria-haspopup="true">
              <i class="icon fa fa-bars" aria-hidden="true"></i>
              <span class="aural">Öffnen: Hauptnavigation</span>
              <span class="text">Menü</span>
            </button>
          </div>
          <div class="service-button-overlay__overlay overlay js-overlay-container" aria-modal="true" hidden="hidden">
            <div class="overlay__header">
              <h2 class="heading"><span>Hauptnavigation</span></h2>
              <button type="button" class="close-button js-button-overlay-close">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="aural">Schließen: Hauptmenü</span>
              </button>
            </div>
            <div class="overlay__body">
                <nav id="navigation-primary" class="js-navigation-primary">
                    <div class="tree-wrapper js-navigation-tree-wrapper">
                        <h3 class="aural">Seitennavigation</h3>
                            {# Iterate menu tree #}
                            <ul class="navigation-tree tree__root">
                              {% if c.userobj.sysadmin %}
                                {{ h.build_nav_main(
                                  ('home.index', _('Startseite')),
                                  ('dataset.search', _('Datasets')),
                                  ('organization.index', _('Organizations')),
                                  ('group.index', _('Kategorien')),
                                  ('user.index', _('User')),
                                ) }}
                                <li><a href="/harvest">Harvest</a></li>
                                {{ h.build_nav_main(
                                  ('home.about', _('About'))
                                ) }}
                              {% elif c.userobj %}
                                {{ h.build_nav_main(
                                  ('home.index', _('Startseite')),
                                  ('dataset.search', _('Datasets')),
                                  ('organization.index', _('Organizations')),
                                  ('group.index', _('Kategorien')),
                                  ('home.about', _('About'))
                                ) }}
                              {% else %}
                                {{ h.build_nav_main(
                                  ('home.about', _('About'))
                                ) }}
                              {% endif %}
                            </ul>
                    </div>
                    <div class="navigation-meta">
                      <h3 class="heading">Weiteres</h3>
                      {# Iterate menu tree #}
                      <ul>
                        {% if c.userobj %}
                          {% if c.userobj.sysadmin %}
                            <li>
                              <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                {{ _('Admin') }}
                              </a>
                            </li>
                          {% endif %}
                          <li>
                            <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('View profile') }}">
                              Profil ({{ c.userobj.display_name }})
                            </a>
                          </li>
                          {% set new_activities = h.new_activities() %}
                          <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                            %}
                            <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                              {{ _('Dashboard') }} ({{ new_activities }})
                            </a>
                          </li>
                          <li>
                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                              {{ _('Log out') }}
                            </a>
                          </li>
                        {% else %}
                          <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
                        {% endif %}
                      </ul>
                    </div>
                </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>