{% extends "sub_page_no_left_nav.html" %}

{% block subtitle %}{{ _('Impressum') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="/impressum">{{ _('Impressum') }}</a></li>
{% endblock %}

{% block berlin_main %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        <h1>Impressum</h1>
        <h3>Herausgeber</h3>
        <p>Senatsverwaltung für Wirtschaft, Energie und Betriebe<br>Martin-Luther-Straße 105<br>10825 Berlin</p>
        <h3>Vertretungsberechtigt</h3>
        <p>Ramona Pop<br>Senatorin für Wirtschaft, Energie und Betriebe</p>
        <p>&nbsp;</p>
        <h3>Technischer Betrieb</h3>
        <p>BerlinOnline Stadtportal GmbH &amp; Co. KG<br>Alte Jakobstraße 105<br>D-10969 Berlin</p>
        <p>Tel.: 01805 / 80 77 37 (Festnetzpreis 14 ct/min; Mobilfunkpreise maximal 42 ct/min)<br>Fax.: 01805 / 00 28
          97 (Festnetzpreis 14 ct/min; Mobilfunkpreise maximal 42 ct/min)<br>E-Mail: <a href="mailto:info@berlin.de">Info@Berlin.de</a>
        </p>
        <p>Amtsgericht Berlin-Charlottenburg, HRA 31951<br>Sitz der Gesellschaft: Berlin, Deutschland<br>USt.-IdNr: DE
          219 483 549</p>
        <p>Komplementär:<br>BerlinOnline Stadtportalbeteiligungsgesellschaft mbH<br>Amtsgericht Berlin-Charlottenburg,
          HRB 79077<br>Sitz der Gesellschaft: Berlin, Deutschland<br>Geschäftsführer Olf Dziadek</p>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
