{% extends "base.html" %}

{%- block page -%}

  <div class="container-wrapper container-content template-land_start">
    <div class="container">
      <div class="row">
        <div class="span12">

          {% block skip %}
            <div class="hide"><a href="#content">{{ _('Skip to content') }}</a></div>
          {% endblock %}

          {#
Override the header on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the header.html
file.
#}
          {%- block header %}
            {% include "header.html" %}
          {% endblock -%}

          {# The content block allows you to replace the content of the page if needed #}
          {%- block content %}
            {% block maintag %}
              <div role="main">
            {% endblock %}
          <div id="content" class="container">
            {% block main_content %}
              {% block flash %}
                <div class="flash-messages">
                  {% block flash_inner %}
                    {% for message in h.flash.pop_messages() | list %}
                      <div class="alert fade in {{ message.category }}">
                        {{ h.literal(message) }}
                      </div>
                    {% endfor %}
                  {% endblock %}
                </div>
              {% endblock %}

              {% block toolbar %}
                <div class="toolbar">
                  {% block breadcrumb %}
                    {% if self.breadcrumb_content() | trim %}
                      <div class="row row-breadcrumb">
                        <div class="span10">
                          <nav class="html5-section breadcrumb" aria-label="Breadcrumb">
                            <p class="aural" id="aural_breadcrumblabel">Sie befinden sich hier:</p>
                            <ul aria-labelledby="aural_breadcrumblabel">
                              {% snippet 'snippets/home_breadcrumb_item.html' %}
                              {% block breadcrumb_content %}{% endblock %}
                            </ul>
                          </nav>
                        </div>
                      </div>
                    {% endif %}
                  {% endblock %}
                </div>
              {% endblock %}

              {#
          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">
        #}
              <div class="row wrapper{% block wrapper_class %}{% endblock %}">

                {#
          The pre_primary block can be used to add content to before the
          rendering of the main content columns of the page.
          #}
                {% block pre_primary %}
                {% endblock %}

                {% block primary %}
                {% endblock %}
              </div>
            {% endblock %}
          </div>
          </div>
          {% endblock -%}

          {#
Override the footer on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the footer.html-u
file.
#}
          {%- block footer %}
            {% include "footer.html" %}
          {% endblock -%}

        </div>
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block scripts %}
  {% resource 'base/main' %}
  {% resource 'base/ckan' %}
  {% if g.tracking_enabled %}
    {% resource 'base/tracking.js' %}
  {% endif %}
  {{ super() }}
{% endblock -%}
