{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="https://www.berlin.de/i9f/r1/bundle/berlin_assetservice.css" />
  <link rel="stylesheet" href="https://www.berlin.de/i9f/r1/bundle/fontawesome.all.min.css" />
  {% asset 'berlintheme/ckan_extra_css' %}
{% endblock %}

{%- block page -%}

  {# {% if not request.url.startswith('https://datenregister.berlin.de') %}
    {% set ribbon_title=none %}
    {% set color=none %}
    {% if 'datenregister-stage' in request.url %}
      {% set ribbon_title="STAGE" %}
    {% elif 'datenregister-dev' in request.url %}
      {% set ribbon_title="DEVEL" %}
    {% elif request.url.split('/')[2].endswith('.test') %}
      {% set ribbon_title="LOCAL" %}
    {% else %}
      {% set ribbon_title="WHERE AM I?" %}
    {% endif %}
    {% sni‘ppet "snippets/corner_ribbon.html", ribbon_title=ribbon_title, color=color %}
  {% endif %}

  {% block skip %}
    <div class="sr-only sr-only-focusable"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %} #}


  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    <div id="page-wrapper">
      {%- block header %}
        {% include "header.html" %}
      {% endblock -%}
      <div id="layout-grid" role="main">
        <div id="layout-grid__area--contentheader">
          {% if self.breadcrumb_content() | trim %}
            <div id="content-header">
              <nav class="breadcrumb" aria-label="Sie befinden sich hier">
                  <ol class="breadcrumb">
                    <li>
                      <a href="{{ h.url_for('home.index') }}">Datenregister</a>
                    </li>
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
              </nav>
            </div>
          {% endif %}
        </div>

        {% block grid_pre_herounit %}{% endblock grid_pre_herounit %}
        <div id="layout-grid__area--herounit">
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="message alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}
          {% block grid_herounit %}{% endblock grid_herounit %}
        </div>

        <div id="layout-grid__area--maincontent" style="min-height: 0px;">
          {% block grid_maincontent %}
            {% block main_content %}
              {% block page_heading %}
              {% endblock page_heading %}
              {% block page_header %}
                {% block content_action %}{% endblock content_action %}
                <div class="dr-content-header">
                  {% block content_primary_nav %}{% endblock %}
                </div>
              {% endblock page_header %}
              {% block primary_content %}
                {% block primary_content_inner %}
                {% block berlinde_content_action_inner %} {%endblock%}
                {% endblock primary_content_inner %}
              {% endblock primary_content %}
            {% endblock main_content %}
            {% block secondary_content %}{% endblock secondary_content %}
          {% endblock grid_maincontent %}
        </div>
        {% block grid_post_maincontent %}{% endblock grid_post_maincontent %}

        <div id="layout-grid__area--contentfooter">
          {%- block footer %}
            {% include "footer.html" %}
          {% endblock -%}
        </div>
      </div>
      {%- block portal_footer %}
        {% include "portal_footer.html" %}
      {% endblock -%}
    </div>
  {% endblock -%}

{%- endblock -%}

{%- block scripts %}
  {% asset 'base/main' %}
  {% asset 'base/ckan' %}
  <script src="https://www.berlin.de/i9f/r1/bundle/berlin_assetservice.js"></script>
{% endblock -%}
