{#
    /**
    * @file
    * Template to render the header portion of every page
    * source see http://styleguide.berlin.de/patterns/11-vertical_assetservice-page-global-footer/11-vertical_assetservice-page-global-footer.html
    */
#}
  <!-- 
  *********************************************************
  PORTAL FOOTER AREA
  **********************************************************
  -->
<footer id="footer" class="screendefault" data-nosnippet="true">

  <div class="footer__brand">
    <div class="image__image">
      <a href="https://www.berlin.de/" title="Berlin.de Startseite">
        <img alt="Berlin.de zur Startseite" src="https://www.berlin.de/i9f/r1/images/logo_berlin_m_negativ.svg">
      </a>
    </div>
  </div>

  <nav class="footer__links" aria-label="Weitere Bereiche auf Berlin.de">
    <h2 class="aural">Weitere Informationen zu Berlin.de</h2>
    <ul class="js-collapse-palm">
      <li>
        <h3 class="heading js-trigger">Service</h3><ul><li><a href="https://service.berlin.de/app/">Service-App</a></li><li><a href="https://service.berlin.de/terminvereinbarung/">Termin vereinbaren</a></li><li><a href="https://www.berlin.de/moderne-verwaltung/buergerservice/am-telefon/">Bürgertelefon 115</a></li><li><a href="https://www.berlin.de/polizei/service/so-erreichen-sie-uns/artikel.532842.php">Notdienste</a></li><li><a href="https://www.berlin.de/ea/">Gewerbeservice</a></li></ul>
      </li>
      <li>
        <h3 class="heading js-trigger">Behörden</h3><ul><li><a href="https://service.berlin.de/behoerden/">Behörden A-Z</a></li><li><a href="https://service.berlin.de/senatsverwaltungen/">Senatsverwaltungen</a></li><li><a href="https://service.berlin.de/bezirksaemter/">Bezirksämter</a></li><li><a href="https://service.berlin.de/standorte/buergeraemter/">Bürgerämter</a></li><li><a href="https://service.berlin.de/jobcenter/">Jobcenter</a></li><li><a href="https://www.berlin.de/einwanderung/">Einwanderungsamt</a></li></ul>
      </li>
      <li>
        <h3 class="heading js-trigger">Politik &amp; Verwaltung</h3><ul><li><a href="https://www.berlin.de/rbmskzl/politik/senat/">Landesregierung</a></li><li><a href="https://www.berlin.de/karriereportal/">Karriere im Land Berlin</a></li><li><a href="https://mein.berlin.de">Bürgerbeteiligung</a></li><li><a href="https://daten.berlin.de">Open Data</a></li><li><a href="https://www.berlin.de/vergabeplattform/">Vergaben</a></li></ul>
      </li>
      <li>
        <h3 class="heading js-trigger">Aktuelles</h3><ul><li><a href="https://www.berlin.de/presse/">Pressemitteilungen</a></li><li><a href="https://www.berlin.de/polizei/polizeimeldungen/">Polizeimeldungen</a></li><li><a href="https://www.berlin.de/land/kalender/">Veranstaltungen</a></li><li><a href="https://www.berlin.de/ukraine/">Ukraine</a></li><li><a href="https://www.berlin.de/baerenhitze/">Hitzeschutz</a></li></ul>
      </li>
      <li>
        <h3 class="heading js-trigger">Themen</h3><ul><li><a href="https://www.berlin.de/rbmskzl/fokusthemen/">Fokusthemen</a></li><li><a href="https://verkehrswende.berlin.de/">Berliner Verkehrswende</a></li><li><a href="https://www.berlin.de/moderne-verwaltung/">Moderne Verwaltung</a></li><li><a href="https://www.berlin.de/sen/wohnen/service/mietspiegel/">Mietspiegel</a></li><li><a href="https://berlin.de/grundsteuer" target="_blank" title=" (Öffnet in neuem Fenster)" rel="noreferrer">Grundsteuer</a></li></ul>
      </li>
      <li>
        <h3 class="heading js-trigger">Weitere Informationen</h3><ul><li><a href="https://www.berlin.de/kultur-und-tickets/">Kultur &amp; Ausgehen</a></li><li><a href="https://www.berlin.de/tourismus/">Tourismus</a></li><li><a href="https://www.berlin.de/wirtschaft/">Wirtschaft</a></li><li><a href="https://www.berlin.de/special/">Stadtleben</a></li><li><a href="https://www.berlin.de/stadtplan/">Stadtplan</a></li></ul>
      </li>
    </ul>
  </nav>

  <div class="footer__claim">
    <p>
      Berlin.de ist ein Angebot des Landes Berlin.
    </p>
  </div>
</footer>